<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column hashtags__container">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :description %>
    </div>

    <div class="row column hashtags__container">
      <%= form.text_field :tags %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :indicators %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :objectives %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :beneficiaries %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :requirements %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :text_field, :financing_type %>
    </div>
  </div>

  <% if current_participatory_space.components.where(manifest_name: "problems").present? %>
    <div class="card-divider">
      <h2 class="card-title"><%= t(".problem") %></h2>
    </div>
  <% else %>
    <div class="card-divider">
      <h2 class="card-title"><%= t(".challenge") %></h2>
    </div>
  <% end %>

  <% if current_participatory_space.components.where(manifest_name: "problems").present? %>
    <div class="card-section">
      <div class="row column">
        <%= form.select :decidim_problems_problem_id,
                          @form.select_problem_collection,
                          selected: @form.try(:problem) ? [translated_attribute(@form.try(:problem).title), @form.try(:problem).id] : '',
                          label: t("models.solution.fields.problem", scope: "decidim.solutions.admin"),
                          include_blank: "" %>
      </div>
    </div>
    <div class="card-section">
      <div class="row column">
        <%= form.select :decidim_challenges_challenge_id,
                          @form.select_challenge_collection,
                          {
                            selected: @form.try(:challenge) ? [translated_attribute(@form.try(:challenge).title), @form.try(:challenge).id] : '',
                            label: t("models.solution.fields.challenge", scope: "decidim.solutions.admin"),
                            include_blank: "",
                          },
                          { disabled: true } %>
      </div>
    </div>
  <% else %>
    <div class="card-section">
      <div class="row column">
        <%= form.select :decidim_problems_problem_id,
                          @form.select_problem_collection,
                          {
                            selected: @form.try(:problem) ? [translated_attribute(@form.try(:problem).title), @form.try(:problem).id] : '',
                            label: t("models.solution.fields.problem", scope: "decidim.solutions.admin"),
                            include_blank: "",
                          },
                          { disabled: true } %>
      </div>
    </div>
    <div class="card-section"">
      <div class="row column">
        <%= form.select :decidim_challenges_challenge_id,
                          @form.select_challenge_collection,
                          selected: @form.try(:challenge) ? [translated_attribute(@form.try(:challenge).title), @form.try(:challenge).id] : '',
                          label: t("models.solution.fields.challenge", scope: "decidim.solutions.admin"),
                          include_blank: "" %>
      </div>
    </div>
  <% end %>
</div>
