<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form-defaults form edit_solution solution_form_admin" })  do |f| %>
      <%= render partial: "form", object: f, locals: { title: t(".title") } %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".update"), class: "button button__sm button__secondary" %>

          <% if solution.published? %>
            <%= link_to t("actions.unpublish", scope: "decidim.solutions.admin"), solution_publish_path(solution), method: :delete, class: "button button__sm button__secondary" %>
          <% else %>
            <%= link_to t("actions.publish", scope: "decidim.solutions.admin"), solution_publish_path(solution), method: :post, class: "button button__sm button__secondary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
