<% add_decidim_page_title(solution.title) %>
<div class="component__show">
  <div class="card">
    <div class="component__show_header">
      <h2 class="component__show_header-title">
        <%= decidim_html_escape(present(solution).title).html_safe %>
      </h2>
    </div>

    <div class="component__show_nav">
      <div class="component__show_nav-author">
        <div class="component__show_nav-circle">
          <%= icon "award-line" %>
        </div>
        <div>
          <li class="component__show_nav-author-title">
            <strong><%= t ".author":</strong> %>
            <%= link_to_if(
              decidim.profile_path(solution.author.nickname).present?,
              solution.author.name,
              decidim.profile_path(solution.author.nickname),
              target: :blank
            ) %>
          </li>
          <span class="component__show_nav-author-date">
            <%= l solution.created_at, format: :decidim_short %>
          </span>
        </div>
      </div> 
    </div>

    <div class="component__show_grid">
      <div class="component__show_grid-item">
        <div class="card-section">
          <div class="row column">
            <span class="component__show-title"><%= t ".description" %></span>
            <p class="component__show-text">
              <%= simple_format(present(solution).description(strip_tags: true)) %>
            </p>
          </div>
        </div>

        <% if solution.documents.any? %>
          <%= render partial: "documents", locals: { solution: } %>
        <% end %>

        <% if solution.photos.any? %>
          <%= render partial: "photos", locals: { solution: } %>
        <% end %>


    <div class="row column">
      <strong><%= t ".project_status" %>:</strong> <%= t("decidim.solutions.solutions.form.project_statuses.#{solution.project_status}") %>
    </div>

    <div class="row column">
      <strong><%= t ".coordinating_entity" %>:</strong> <%= solution.coordinating_entity %>
    </div>

    <div class="row column">
      <strong><%= t ".challenge" %>:</strong> <%= link_to translated_attribute(solution.challenge.title), Decidim::ResourceLocatorPresenter.new(solution.challenge).path %></strong>
    </div>

    <div class="row column">
      <strong><%= t ".project_url" %>:</strong> <%= link_to solution.project_url, "http://#{solution.project_url}", target: "_blank" %>
    </div>
  </div>
</div>

<% if solution.published? %>
  <%= link_to t("actions.unpublish", scope: "decidim.solutions.admin"), solution_publish_path(solution), method: :delete, class: "button muted" %>
<% else %>
  <%= link_to t("actions.publish", scope: "decidim.solutions.admin"), solution_publish_path(solution), method: :post, class: "button hollow" %>
<% end %>
