<div class="card card--challenge <%= resource_state %> muted">
    <% if resource_image_path.present? %>
      <%= link_to resource_path do %>
        <%= image_tag resource_image_path, class: "card__image", alt: title %>
      <% end %>
    <% end %>
    <div class="card__content">
        <div class="card__header">
            <%= link_to challenge_path, class: "card__link" do %>
                <div class="card__title">
                    <%= resource_title %>
                </div>
            <% end %>
        </div>
        <div class="card__text">
            <div class="card__text--paragraph">
                <span class="card__text--paragraph--status"><%= t(resource_state, scope: 'decidim.challenges.states') %></span><%= description%>
            </div>
        </div>
        <div class="card__sdg">
            <div class="card_text--sdg--image">
                <div class="ods challenges">
                    <% if resource_sdg %>
                        <div class="text-container">
                            <p><%= t(resource_sdg + ".logo.line1", scope: "decidim.components.sdgs") %></p>
                            <p><%= t(resource_sdg + ".logo.line2", scope: "decidim.components.sdgs") %></p>
                        </div>
                    <% end %>
                    <% if resource_sdg_index %>
                        <%= image_pack_tag "media/images/ods-#{resource_sdg_index}.svg", alt: "Logo SDG #{resource_sdg_index}", class: "challenge--view" %>
                    <% end %>
                </div>
            </div>
            <div class="card_text--sdg--text">
                <% if resource_sdg %>
                    <div>
                        <%= t('sdg', scope: "activemodel.attributes.challenge") %>
                    </div>
                    <div>
                        <strong><%= t_sdg(resource_sdg) %></strong>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="card__status">
    </div>
    <div class="card__footer">
    </div>
</div>
