
<div id="ods-01" class="ods">
  <div class="text-container">
    <p><%= t("no_poverty.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("no_poverty.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-01.svg", alt: "Logo ODS 01" %>
</div>
<div id="ods-02" class="ods">
  <div class="text-container">
    <p><%= t("zero_hunger.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("zero_hunger.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-02.svg", alt: "Logo ODS 02" %>
</div>
<div id="ods-03" class="ods">
  <div class="text-container">
    <p><%= t("good_health.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("good_health.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-03.svg", alt: "Logo ODS 03" %>
</div>
<div id="ods-04" class="ods">
  <div class="text-container">
    <p><%= t("quality_education.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("quality_education.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-04.svg", alt: "Logo ODS 04" %>
</div>
<div id="ods-05" class="ods">
  <div class="text-container">
    <p><%= t("gender_equality.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("gender_equality.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-05.svg", alt: "Logo ODS 05" %>
</div>
<div id="ods-06" class="ods">
  <div class="text-container">
    <p><%= t("clean_water.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("clean_water.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-06.svg", alt: "Logo ODS 06" %>
</div>
<div id="ods-07" class="ods">
  <div class="text-container">
    <p><%= t("clean_energy.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("clean_energy.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-07.svg", alt: "Logo ODS 07" %>
</div>
<div id="ods-08" class="ods">
  <div class="text-container">
    <p><%= t("decent_work.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("decent_work.logo.line2", scope: "decidim.components.sdgs") %></p>
    <p><%= t("decent_work.logo.line3", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-08.svg", alt: "Logo ODS 08" %>
</div>
<div id="ods-09" class="ods">
  <div class="text-container">
    <p><%= t("iiai.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("iiai.logo.line2", scope: "decidim.components.sdgs") %></p>
    <p><%= t("iiai.logo.line3", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-09.svg", alt: "Logo ODS 09" %>
</div>
<div id="ods-10" class="ods">
  <div class="text-container stretch">
    <p><%= t("reduced_inequalities.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("reduced_inequalities.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-10.svg", alt: "Logo ODS 10" %>
</div>
<div id="ods-11" class="ods">
  <div class="text-container">
    <p><%= t("sustainable_cities.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("sustainable_cities.logo.line2", scope: "decidim.components.sdgs") %></p>
    <p><%= t("sustainable_cities.logo.line3", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-11.svg", alt: "Logo ODS 11" %>
</div>
<div id="ods-12" class="ods">
  <div class="text-container stretch">
    <p><%= t("responsible_consumption.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("responsible_consumption.logo.line2", scope: "decidim.components.sdgs") %></p>
    <p><%= t("responsible_consumption.logo.line3", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-12.svg", alt: "Logo ODS 12" %>
</div>
<div id="ods-13" class="ods">
  <div class="text-container stretch">
    <p><%= t("climate_action.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("climate_action.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-13.svg", alt: "Logo ODS 13" %>
</div>
<div id="ods-14" class="ods">
  <div class="text-container stretch">
    <p><%= t("life_below_water.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("life_below_water.logo.line2", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-14.svg", alt: "Logo ODS 14" %>
</div>
<div id="ods-15" class="ods">
  <div class="text-container stretch">
    <p><%= t("life_on_land.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("life_on_land.logo.line2", scope: "decidim.components.sdgs") %></p>
    <p><%= t("life_on_land.logo.line3", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-15.svg", alt: "Logo ODS 15" %>
</div>
<div id="ods-16" class="ods">
  <div class="text-container stretch">
    <p><%= t("pjsi.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("pjsi.logo.line2", scope: "decidim.components.sdgs") %></p>
    <p><%= t("pjsi.logo.line3", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-16.svg", alt: "Logo ODS 16" %>
</div>
<div id="ods-17" class="ods">
  <div class="text-container stretch">
    <p><%= t("partnership.logo.line1", scope: "decidim.components.sdgs") %></p>
    <p><%= t("partnership.logo.line2", scope: "decidim.components.sdgs") %></p>
    <p><%= t("partnership.logo.line3", scope: "decidim.components.sdgs") %></p>
  </div>
  <%= image_pack_tag "media/images/ods-17.svg", alt: "Logo ODS 17" %>
</div>
<div class="columns large-2 medium-3 small-4">
  <div class="ods final">
    <%= image_pack_tag "media/images/un_emblem_square.png", alt: "Logo United Nations" %>
  </div>
</div>
