<% add_decidim_page_title(t("name", scope: "decidim.components.sdgs")) %>

<%= append_stylesheet_pack_tag "decidim_sdgs" %>

<%= render layout: "layouts/decidim/shared/layout_center", locals: { columns: 10 } do %>
  <section class="layout-main__section layout-main__heading mt-12">
    <div class="sdgs-title">
      <div class="text">
        <h1 class="title-decorator mb-12"><%= t("name", scope: "decidim.components.sdgs") %></h1>
        <p class="description"><%= t("description", scope: "decidim.components.sdgs") %></p>
      </div>
      <div id="ods-logo-container">
        <%= image_pack_tag "media/images/sdg-wheel.png" %>
        <p id="title"><%= t("ods_logo.title", scope: "decidim.components.sdgs") %></p>
        <p id="subtitle"><%= t("ods_logo.subtitle", scope: "decidim.components.sdgs") %></p>
      </div>
    </div>

    <div class="row">
      <div class="columns">
        <div class="row column">
          <h4 class="mb-sm">
            <h3 class="h3"><%= t("subtitle", scope: "decidim.components.sdgs") %></h3>
          </h4>
        </div>
      </div>
    </div>
    
    <div id="ods-container">
      <%= render partial: "ods" %>
    </div>
    
    <div id="objective-container">
      <%= render partial: "objectives" %>
    </div>
  </section>
<% end %>

<script>
  document.querySelector("#ods-container").addEventListener('click', function(event) {
    event.preventDefault();

    let node = event.target;
    while(!node.classList.contains("ods")) {
      node = node.parentNode;
    }

    if (node) {
      let id = node.id.split('ods-')[1];
      let objectiveContainer = document.querySelector("#objective-container");
      console.log(objectiveContainer)

      Array.from(objectiveContainer.children).forEach(function (e) {
        if (!e.classList.contains('hide')) {
          e.classList.add('hide');
        }

        if (e.id.includes(id)) {
          e.classList.remove('hide');
        }
      });
    }
  });
</script>
