<% add_decidim_page_title(t("name", scope: "decidim.components.problems")) %>

<%= append_stylesheet_pack_tag "decidim_sdgs" %>
<%= append_stylesheet_pack_tag "decidim_problems" %>

<% content_for :aside do %>
  <h1 id="problems-count" class="title-decorator"><%= component_name %></h1>

  <% unless @component_settings.hide_filters %>
    <%= render layout: "decidim/shared/filters", locals: { filter_sections:, has_sdgs?:, search_variable: :search_text_cont, skip_to_id: "problems" } do %>
      <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
    <% end %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <section id="problems" class="layout-main__section layout-main__heading">
    <%= render partial: "problems", locals: { has_sdgs?: } %>
  </section>
<% end %>
