<%= append_stylesheet_pack_tag "decidim_sdgs" %>
<%= append_stylesheet_pack_tag "decidim_problems" %>

<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: problems_path } do %>
  <section class="layout-main__section layout-main__heading">
    <h1 class="h2 decorator">
      <%= present(@problem).title(links: true, html_escape: true) %>
    </h1>
  </section>

  <section class="layout-main__section content-block__description">
    <%= render partial: "decidim/shared/share_modal" %>

    <h3 class="h4">
      <span class="title"><%= t("challenge", scope: "activemodel.attributes.problem") %></span>:
      <%= link_to translated_attribute(@problem.challenge.title), Decidim::ResourceLocatorPresenter.new(@problem.challenge).path %></strong>
    </h3>

    <h3 class="h4"><%= t("description", scope: "activemodel.attributes.problem") %></h3>
    <div class="rich-text-display">
      <p><%= present(@problem).description %></p>
    </div>

    <% if present(@problem).tags.present? %>
      <h3 class="h4"><%= t("tags", scope: "activemodel.attributes.problem") %></h3>
      <p class="tags"><%= present(@problem).tags %></p>
    <% end %>

    <% if @problem.solutions.any? %>
      <%= render partial: "decidim/shared/related_solutions", locals: {solutions: @problem.solutions} %>
    <% end %>
  </section>

  <% content_for :aside do %>
    <%= render partial: "sidebar_data" %>
  <% end %>
<% end %>

