<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <div>
        <%= t(".title") %>
        <span id="js-selected-problems-count" class="component-counter component-counter--inline" title="<%= t("decidim.problems.admin.problems.index.selected") %>"></span>
      </div>
      <div class="flex items-center gap-x-4">
        <% if allowed_to? :create, :problem %>
          <%= link_to t("actions.new_problem", scope: "decidim.problems.admin"),
          new_problem_path,
          class: "button button__sm button__secondary" %>
        <% end %>

        <%= render partial: "decidim/admin/components/resource_action" %>
      </div>
    </h1>
  </div>

  <div class="table-scroll mt-16">
    <table class="table-list">
      <thead>
        <tr>
          <th>
            <%= t("models.problem.fields.title", scope: "decidim.problems.admin") %>
          </th>
          <th>
            <%= t("models.problem.fields.created_at", scope: "decidim.problems.admin") %>
          </th>
          <th>
            <%= t("models.problem.fields.challenge", scope: "decidim.problems.admin") %>
          </th>
          <th>
            <%= t("models.problem.fields.state", scope: "decidim.problems.admin") %>
          </th>
          <th>
            <%= t("models.problem.fields.start_date", scope: "decidim.problems.admin") %>
          </th>
          <th>
            <%= t("models.problem.fields.end_date", scope: "decidim.problems.admin") %>
          </th>
          <th>
            <%= t("models.problem.fields.published", scope: "decidim.problems.admin") %>
          </th>
          <th class="table-list__actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @problems.each do |problem| %>
          <tr>
            <td>
              <%= translated_attribute(problem.title) %>
            </td>
            <td>
              <%= l(problem.created_at, format: :decidim_short) if problem.created_at %>
            </td>
            <td>
              <%= translated_attribute(problem.challenge.title) %>
            </td>
            <td>
              <%= I18n.t(problem.state, scope: "decidim.problems.states") %>
            </td>
            <td>
              <%= problem.start_date %>
            </td>
            <td>
              <%= problem.end_date %>
            </td>
            <td>
            <% if problem.published? %>
              <strong class="text-success"><%= t("index.published", scope: "decidim.problems") %></strong>
            <% else %>
              <strong class="text-alert"><%= t("index.not_published", scope: "decidim.problems") %></strong>
            <% end %>
            </td>
            <td class="table-list__actions">
              <% if allowed_to? :edit, :problem %>
                <%= icon_link_to "pencil-line", edit_problem_path(problem), t("actions.configure", scope: "decidim.problems.admin"), class: "action-icon--new" %>
              <% end %>
              <%= icon_link_to "eye-line", resource_locator(problem).path, t("actions.view", scope: "decidim.problems.admin"), class: "action-icon--preview", target: :blank %>
              <% if allowed_to? :destroy, :problem, problem: problem %>
                <%= icon_link_to "close-circle-line", problem, t("actions.destroy", scope: "decidim.problems.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.problems.admin", name: translated_attribute(problem.title)) } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= decidim_paginate @problems %>
