<div class="card card--challenge <%= resource_state %> muted">
    <div class="card__content">
        <div class="card__header">
            <%= link_to challenge_path, class: "card__link" do %>
                <div class="card__title">
                    <%= resource_title %>
                </div>
            <% end %>
        </div>
        <div class="card__text">
            <div class="card__text--paragraph">
                <span class="card__text--paragraph--estat"><%= t(resource_state, scope: 'decidim.challenges.states') %></span><div class="card__text--paragraph--description"><%= resource_description%></div>
            </div>
        </div>
        <div class="card__sdg">
            <div class="card__sdg--paragraph">
                <%= resource_sdg%>
            </div>
        </div>
    </div>
    <div class="card__status">
    </div>
    <div class="card__footer">
    </div>
</div>