<div class="card card--challenge <%= resource_state %> muted">
    <div class="card__content">
        <div class="card__header">
            <%= link_to challenge_path, class: "card__link" do %>
                <div class="card__title">
                    <%= resource_title %>
                </div>
            <% end %>
        </div>
        <div class="card__text">
            <div class="card__text--paragraph">
                <span class="card__text--paragraph--estat"><%= t(resource_state, scope: 'decidim.challenges.states') %></span><div class="card__text--paragraph--description"><%= resource_description%></div>
            </div>
        </div>
        <div class="card__sdg">
            <div class="card_text--sdg--image">
                <div class="ods">
                    <div class="text-container">
                        <p><%= t("no_poverty.logo.line1", scope: "decidim.components.sdgs") %></p>
                        <p><%= t("no_poverty.logo.line2", scope: "decidim.components.sdgs") %></p>
                    </div>
                    <img alt="Logo ODS <%= resource_sdg_index%>" src="/assets/decidim/sdgs/ods-<%= resource_sdg_index%>.svg">
                </div>
            </div>
            <div class="card_text--sdg--text">
                <div>
                    <%= t('sdg', scope: "activemodel.attributes.challenge") %>
                </div>
                <div>
                    <strong><%= resource_sdg%></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="card__status">
    </div>
    <div class="card__footer">
    </div>
</div>