<% if @solutions.empty? %>
  <%= params[:filter].present? ? t(".empty_filters") : t(".empty") %>
<% else %>
  <h2 class="h5 md:h3 decorator"><%= t("count", scope: "decidim.solutions.solutions.index", count: @solutions.total_count) %></h2>

  <%= order_selector available_orders, i18n_scope: "decidim.solutions.solutions.orders" %>

  <div class="card__list-list">
    <%= render @solutions, locals: { has_sdgs?: } %>
  </div>

  <%= decidim_paginate @solutions %>
<% end %>
