<% add_decidim_page_title(t(".create")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="flex justify-center">
    <h1 class="title-decorator my-12">
      <%= t("decidim.solutions.solutions.new.create") %>
    </h1>
  </div>

  <%= decidim_form_for(@form, html: { class: "form" }) do |form| %>
    <div class="form__wrapper">
      <%= render partial: "form", object: form %>
    </div>

    <button type="submit" class="button button__sm md:button__lg button__secondary">
      <span><%= t("send", scope: "decidim.solutions.solutions.new") %></span>
      <%= icon "arrow-right-line" %>
    </button>
  <% end %>
<% end %>
