<%= append_stylesheet_pack_tag "decidim_sdgs" %>
<%= append_stylesheet_pack_tag "decidim_solutions" %>

<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: solutions_path } do %>
  <section class="layout-main__section layout-main__heading">
    <h1 class="h2 decorator">
      <%= present(@solution).title(links: true, html_escape: true) %>
    </h1>
  </section>

  <section class="layout-main__section content-block__description">
    <%= render partial: "decidim/shared/share_modal" %>

    <% if has_problem? %>
      <h3 class="h4">
        <span class="title"><%= t("problem", scope: "activemodel.attributes.solution") %></span>:
        <%= link_to translated_attribute(@solution.problem.title), Decidim::ResourceLocatorPresenter.new(@solution.problem).path %><br>
        <span class="title"><%= t("challenge", scope: "activemodel.attributes.problem") %></span>:
        <%= link_to translated_attribute(@solution.problem.challenge.title), Decidim::ResourceLocatorPresenter.new(@solution.problem.challenge).path %></strong>
      </h3>
    <% else %>
      <h3 class="h4">
        <%= t("challenge", scope: "activemodel.attributes.solution") %></span>:
        <%= link_to translated_attribute(@solution.challenge.title), Decidim::ResourceLocatorPresenter.new(@solution.challenge).path %></strong>
      </h3>
    <% end %>

    <h3 class="h4"><%= t("description", scope: "activemodel.attributes.solution") %></h3>
    <div class="rich-text-display">
      <p><%= present(@solution).description %></p>
    </div>

    <% if present(@solution).objectives.present? %>
      <h3 class="h4"><%= t("objectives", scope: "activemodel.attributes.solution") %></h3>
      <%= present(@solution).objectives %>
    <% end %>

    <% if present(@solution).beneficiaries.present? %>
      <h3 class="h4"><%= t("beneficiaries", scope: "activemodel.attributes.solution") %></h3>
      <%= present(@solution).beneficiaries %>
    <% end %>

    <% if present(@solution).requirements.present? %>
      <h3 class="h4"><%= t("requirements", scope: "activemodel.attributes.solution") %></h3>
      <%= present(@solution).requirements %>
    <% end %>

    <% if present(@solution).indicators.present? %>
      <h3 class="h4"><%= t("indicators", scope: "activemodel.attributes.solution") %></h3>
      <%= present(@solution).indicators %>
    <% end %>

    <% if present(@solution).tags.present? %>
      <h3 class="h4"><%= t("tags", scope: "activemodel.attributes.solution") %></h3>
      <p class="tags"><%= present(@solution).tags %></p>
    <% end %>

    <% if present(@solution).project_url.present? %>
      <h3 class="h4"><%= t("project_url", scope: "activemodel.attributes.solution") %></h3>
      <%= link_to @solution.project_url, "http://#{@solution.project_url}", target: "_blank" %>
    <% end %>

    <% if present(@solution).coordinating_entity.present? %>
      <h3 class="h4"><%= t("coordinating_entity", scope: "activemodel.attributes.solution") %></h3>
      <%= present(@solution).coordinating_entity %>
    <% end %>
  </section>

  <% content_for :aside do %>
    <%= render partial: "sidebar_data" %>
  <% end %>
<% end %>
