<div class="card card--solution muted">
    <div class="card__content">
        <div class="card__header">
            <%= link_to solution_path, class: "card__link" do %>
                <div class="card__title">
                    <%= resource_title %>
                </div>
            <% end %>
        </div>
        <div class="card__text--solution">
            <div class="card__text--paragraph">
                <span class="card__text--paragraph--challenge"><%= t("challenge", scope: 'decidim.solutions') %>: </span>
                <%= link_to challenge_path, class: "card__link card__text--paragraph--challenge--title" do %>
                    <div><%= resource_challenge_title %></div>
                <% end %>
            </div>
        </div>
        <% if model.problem %>
          <div class="card__text--solution">
              <div class="card__text--paragraph">
                  <span class="card__text--paragraph--problem"><%= t("problem", scope: 'decidim.solutions') %>: </span>
                  <%= link_to problem_path, class: "card__link card__text--paragraph--problem--title" do %>
                      <div><%= resource_problem_title %></div>
                  <% end %>
              </div>
          </div>
        <% end %>
        <div class="card__text">
            <div class="card__text--paragraph">
                <%= description%>
            </div>
        </div>
        <% if resource_sdg %>
            <div class="card__sdg">
                <div class="card_text--sdg--image">
                    <div class="ods solutions">
                            <div class="text-container">
                                <p><%= t(resource_sdg + ".logo.line1", scope: "decidim.components.sdgs") %></p>
                                <p><%= t(resource_sdg + ".logo.line2", scope: "decidim.components.sdgs") %></p>
                            </div>
                        <% if resource_sdg_index %>
                            <%= image_pack_tag "media/images/ods-#{resource_sdg_index}.svg", alt: "Logo ODS #{resource_sdg_index}", class: "solution--view" %>
                        <% end %>
                    </div>
                </div>
                <div class="card_text--sdg--text">
                    <% if resource_sdg ? t_sdg(resource_sdg) : "" %>
                        <div>
                            <%= t('sdg', scope: "activemodel.attributes.solution") %>
                        </div>
                        <div>
                            <strong><%= resource_sdg ? t_sdg(resource_sdg) : "" %></strong>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="card__status">
    </div>
    <div class="card__footer">
    </div>
</div> 
