<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column hashtags__container">
      <%= form.translated :text_field, :title, value: form_presenter.title(extras: false).strip, hashtaggable: true %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :local_description, value: form_presenter.local_description(extras: false).strip %>
    </div>

    <div class="row column hashtags__container">
      <%= form.translated :editor, :global_description, value: form_presenter.global_description(extras: false).strip %>
    </div>

    <div class="row column">
      <%= form.select :state, @form.select_states_collection %>
    </div>

  </div>

</div>

<%= javascript_include_tag "decidim/challenges/admin/challenges_form" %>
