<div class="card with-overflow" id="challenges">
  <div class="card-divider">
    <h2 class="card-title">

      <%= t("challenges", scope: "decidim.admin.titles") %>

      <%= link_to t("actions.new_changelle", scope: "decidim.admin"),
                  new_challenge_path,
                  class: "button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th>
              <%= t("models.challenge.fields.title", scope: "decidim.admin") %>
            </th>
            <th>
              <%= t("models.challenge.fields.created_at", scope: "decidim.admin") %>
            </th>
            <th>
              <%= t("models.challenge.fields.tags", scope: "decidim.admin") %>
            </th>
            <th>
              <%= t("models.challenge.fields.ods", scope: "decidim.admin") %>
            </th>
            <th>
              <%= t("models.challenge.fields.state", scope: "decidim.admin") %>
            </th>
            <th>
              <%= t("models.challenge.fields.start_date", scope: "decidim.admin") %>
            </th>
            <th>
              <%= t("models.challenge.fields.end_date", scope: "decidim.admin") %>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @challenges.each do |challenge| %>
            <tr>
              <td>
                <%= translated_attribute(challenge.title) %>
              </td>
              <td>
                <%= l(challenge.created_at, format: :decidim_short) if challenge.created_at %>
              </td>
              <td>
                <%= challenge.tags %>
              </td>
              <td>
                <%= challenge.ods %>
              </td>
              <td>
                <%= challenge.state %>
              </td>
              <td>
                <%= challenge.start_date %>
              </td>
              <td>
                <%= challenge.end_date %>
              </td>
              <td class="table-list__state">

              </td>
              <td class="table-list__state">

              </td>
              <td class="table-list__actions">

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
