<% add_decidim_page_title(t("name", scope: "decidim.components.challenges")) %>

<%= append_stylesheet_pack_tag "decidim_challenges" %>

<% content_for :aside do %>
  <h1 id="challenges-count" class="title-decorator"><%= component_name %></h1>

  <% unless @component_settings.hide_filters? %>
    <%= render layout: "decidim/shared/filters", locals: { filter_sections:, search_variable: :search_text_cont, skip_to_id: "challenges" } do %>
      <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
    <% end %>

    <% if has_sdgs? %>
      <%= filter_form_for filter do |form| %>
        <%= sdgs_filter_selector(form) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement" %>

  <section id="challenges" class="layout-main__section layout-main__heading">
    <%= render partial: "challenges" %>
  </section>
<% end %>

<%= render partial: "decidim/sdgs/sdgs_filter/modal" %>
