<%= append_stylesheet_pack_tag "decidim_sdgs", media: "all" %>
<%= append_stylesheet_pack_tag "decidim_challenges", media: "all" %>

<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: challenges_path } do %>
  <section class="layout-main__section layout-main__heading">
    <h1 class="h2 decorator">
      <%= present(@challenge).title(links: true, html_escape: true) %>
    </h1>
  </section>

  <section class="layout-main__section content-block__description">
    <%= render partial: "decidim/shared/share_modal" %>

    <h3 class="h4"><%= t("local_description", scope: "activemodel.attributes.challenge") %></h3>
    <div class="rich-text-display">
      <p><%= present(@challenge).local_description %></p>
    </div>

    <h3 class="h4"><%= t("global_description", scope: "activemodel.attributes.challenge") %></h3>
    <div class="rich-text-display">
      <p><%= present(@challenge).global_description %></p>
    </div>

    <% if present(@challenge).tags.present? %>
      <h3 class="h4"><%= t("tags", scope: "activemodel.attributes.challenge") %></h3>
      <p class="tags"><%= present(@challenge).tags %></p>
    <% end %>

   <% if @challenge.problems.present? %>
      <%= render partial: "related_problems", locals: {problems: @challenge.problems} %>
    <% end %>

    <% if challenge_associated_solutions(@challenge).present? %>
      <%= render partial: "related_solutions", locals: {solutions: challenge_associated_solutions(@challenge)} %>
    <% end %>
  </section>

  <% content_for :aside do %>
    <section class="layout-aside__section layout-aside__buttons mb-4">
      <% if @challenge.survey_enabled %>
        <%= link_to t('surveys.answer', scope: "decidim.challenges"), answer_challenge_survey_path(@challenge), class: "button button__lg w-full button__secondary" %>
      <% end %>
    </section>

    <div class="rounded p-4 bg-background mb-4 divide-y divide-gray-3 [&>*]:py-4 first:[&>*]:pt-0 last:[&>*]:pb-0">
      <div class="text-gray-2 space-y-1.5">
        <div class="text-sm flex flex-col items-center gap-1">
          <p class="uppercase text-xs"><%= t("status", scope: "activemodel.attributes.challenge") %></p>
          <p class="uppercase mb-4"><%= t(@challenge.state, scope: "decidim.challenges.states") %></p>
        </div>

        <% if @challenge_scope.present? %>
          <div class="text-sm flex flex-col items-center gap-1">
            <p class="uppercase text-xs"><%= t("scope", scope: "activemodel.attributes.challenge") %></p>
            <p class="uppercase mb-4"><%= translated_attribute(@challenge_scope.name) %></p>
          </div>
        <% end %>

        <% if @challenge.coordinating_entities.present? %>
         <div class="text-sm flex flex-col items-center gap-1">
            <p class="uppercase text-xs"><%= t("coordinating_entities", scope: "activemodel.attributes.challenge") %></p>
            <p class="uppercase mb-4"><%= present(@challenge).coordinating_entities %></p>
          </div>
        <% end %>

        <% if @challenge.collaborating_entities.present? %>
          <div class="text-sm flex flex-col items-center gap-1">
            <p class="uppercase text-xs"><%= t("collaborating_entities", scope: "activemodel.attributes.challenge") %></p>
            <p class="uppercase mb-4"><%= present(@challenge).collaborating_entities %></p>
          </div>
        <% end %>
      </div>

      <% if has_sdgs && @sdg %>
        <div class="text-sm flex flex-col items-center gap-1">
          <p class="uppercase text-xs text-center"><%= t("sdg", scope: "activemodel.attributes.challenge") %></p>
          <div class="ods challenges flex items-center">
            <div class="text-container show">
              <p><%= t(@sdg + ".logo.line1", scope: "decidim.components.sdgs") %></p>
              <p><%= t(@sdg + ".logo.line2", scope: "decidim.components.sdgs") %></p>
            </div>
            <%= image_pack_tag "media/images/ods-#{@sdg_index}.svg", alt: "Logo ODS #{@sdg_index}", class: "challenge--view" %>
          </div>
        </div>
      <% end %>
    </div>

    <section class="layout-aside__section actions__secondary">
      <%= resource_reference(current_participatory_space) %>
      <%= render partial: "decidim/shared/follow_button", class: "text-center", locals: { followable: current_participatory_space, large: false } %>
      <%= cell "decidim/share_button", nil %>
    </section>
  <% end %>
<% end %>
