<%= append_stylesheet_pack_tag "decidim_sdgs" %>
<%= append_stylesheet_pack_tag "decidim_challenges" %>

<%= render layout: "layouts/decidim/shared/layout_item", locals: { back_path: challenges_path } do %>
  <section class="layout-main__section layout-main__heading">
    <h1 class="h2 decorator">
      <%= present(@challenge).title(links: true, html_escape: true) %>
    </h1>
  </section>

  <section class="layout-main__section content-block__description">
    <%= render partial: "decidim/shared/share_modal" %>

    <h3 class="h4"><%= t("local_description", scope: "activemodel.attributes.challenge") %></h3>
    <div class="rich-text-display">
      <p><%= present(@challenge).local_description %></p>
    </div>

    <h3 class="h4"><%= t("global_description", scope: "activemodel.attributes.challenge") %></h3>
    <div class="rich-text-display">
      <p><%= present(@challenge).global_description %></p>
    </div>

    <% if present(@challenge).tags.present? %>
      <h3 class="h4"><%= t("tags", scope: "activemodel.attributes.challenge") %></h3>
      <p class="tags"><%= present(@challenge).tags %></p>
    <% end %>

    <% if @challenge.problems.present? %>
      <%= render partial: "related_problems", locals: {problems: @challenge.problems} %>
    <% end %>

    <% if challenge_associated_solutions(@challenge).present? %>
      <%= render partial: "decidim/shared/related_solutions", locals: {solutions: challenge_associated_solutions(@challenge)} %>
    <% end %>
  </section>

  <% content_for :aside do %>
    <%= render partial: "sidebar_data" %>
  <% end %>
<% end %>
