<%= stylesheet_pack_tag "decidim_sdgs" %>
<%= stylesheet_pack_tag "decidim_challenges" %>

<div class="row column">
  <div class="row">

    <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">

      <div class="card extra">
        <div class="card__content">
          <% if @challenge.survey_enabled %>
            <%= link_to t('surveys.answer', scope: "decidim.challenges"), answer_challenge_survey_path(@challenge), class: "card__button button button--sc small" %>
          <% end %>
          <%= render partial: "decidim/shared/follow_button",
                    locals: { followable: current_participatory_space, large: false } %>
        </div>
      </div>

      <div class="card extra definition-data">

        <div class="definition-data__item status">
          <span class="definition-data__title"><%= t("status", scope: "activemodel.attributes.challenge") %></span>
          <%= t(@challenge.state, scope: "decidim.challenges.states") %>
        </div>

        <% if @challenge_scope.present? %>
          <div class="definition-data__item area_id">
            <span class="definition-data__title"><%= t("scope", scope: "activemodel.attributes.challenge") %></span>
            <%= translated_attribute(@challenge_scope.name) %>
          </div>
        <% end %>

        <% if @challenge.coordinating_entities.present? %>
          <div class="definition-data__item coordinating_entities">
            <span
              class="definition-data__title"><%= t("coordinating_entities", scope: "activemodel.attributes.challenge") %></span>
            <%= present(@challenge).coordinating_entities %>
          </div>
        <% end %>

        <% if @challenge.collaborating_entities.present? %>
          <div class="definition-data__item collaborating_entities">
            <span class="definition-data__title"><%= t("collaborating_entities", scope: "activemodel.attributes.challenge") %></span>
            <%= present(@challenge).collaborating_entities %>
          </div>
        <% end %>

        <% if @sdg %>
          <div class="definition-data__item sdg">
            <span class="definition-data__title"><%= t("sdg", scope: "activemodel.attributes.challenge") %></span>
            <%= t_sdg(@sdg) %><br/>
            <div class="ods challenges">
                <div class="text-container show">
                    <p><%= t(@sdg + ".logo.line1", scope: "decidim.components.sdgs") %></p>
                    <p><%= t(@sdg + ".logo.line2", scope: "decidim.components.sdgs") %></p>
                </div>
                <%= image_pack_tag "media/images/ods-#{@sdg_index}.svg", alt: "Logo ODS #{@sdg_index}", class: "challenge--view" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= resource_reference(current_participatory_space) %>
      <%= render partial: "decidim/shared/share_modal" %>
    </div>

    <div class="columns mediumlarge-8 mediumlarge-pull-4">
      <%= link_to :challenges, class: "small hollow" do %>
        <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
        <%= t("return_to_list", scope: "decidim.challenges.show") %>
      <% end %>
      <div class="section">
        <h2 class="heading2"><strong><%= present(@challenge).title %></strong></h2><br />

        <h3><strong><%= t("local_description", scope: "activemodel.attributes.challenge") %></strong></h3>
        <p><%= present(@challenge).local_description %></p>

        <h3><strong><%= t("global_description", scope: "activemodel.attributes.challenge") %></strong></h3>
        <p><%= present(@challenge).global_description %></p>

        <% if present(@challenge).tags.present? %>
        <h3><strong><%= t("tags", scope: "activemodel.attributes.challenge") %></strong></h3>
        <p class="tags"><%= present(@challenge).tags %></p>
        <% end %>

        <% if @challenge.problems.present? %>
          <h3><strong><%= t("associated_problems", scope: "decidim.challenges.show") %></strong></h3>
          <div class="row small-up-1 medium-up-2 card-grid">
            <% @challenge.problems.each do |problem| %>
              <div class="column">
                <div class="card card-associated-problem">
                  <%= link_to resource_locator(problem).path, class: "card__link" do %>
                    <div class="card__title">
                      <%= translated_attribute problem.title %>
                    </div>
                  <% end %>
                  <%= truncate_description(problem.description) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if challenge_associated_solutions(@challenge).present? %>
        <h3><strong><%= t("proposed_solutions", scope: "decidim.challenges.show") %></strong></h3>
        <div class="row small-up-1 medium-up-2 card-grid">
          <% challenge_associated_solutions(@challenge).each do |solution| %>
            <div class="column">
              <div class="card card-proposed-solution">
                <%= link_to resource_locator(solution).path, class: "card__link" do %>
                  <div class="card__title">
                    <%= translated_attribute solution.title %>
                  </div>
                <% end %>
                <%= truncate_description(solution.description) %>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
